<div class="container">
  <section class="mx-auto my-5" style="max-width: 23rem;">
    <div class="card text-light">
      <div class="card-body d-flex flex-row">
        <div class="col">
          <div class="row">
            <div class="col-md-4 ">
              <img [src]="post?.user_profile || 'User'" class="rounded-circle float-left p-0 m-0 me-3" height="50px"
                width="50px" alt="avatar" />
            </div>
            <div class="col cardDet">
              <h3 class="card-title font-weight-bold mb-2 cardData">{{post?.user_name || "Ashu"}}</h3>
              <p class="card-text"><i class="far fa-clock pe-2"></i>{{post?.updated_at || "02/01/2023"}}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <i class="fa fa-times float-right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
        <img class="img-fluid" [src]="post.object_url" alt="Card image cap" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <i class="fa fa-heart p-md-1 my-1 me-0" [ngStyle]="{color: !post?.liked ? 'grey' : 'red' }"
              aria-hidden="true"
              title="I like it" (click)="likePost(post)"></i>{{post?.likes}}
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
